.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .sadFace {
    margin-left: 16px;
  }
}
