@import "../../../../variables.scss";

.tablesContainer {
  padding: 24px 2px 2px 2px;
  display: flex;
  height: 100%;

  .chaptersList {
    flex: 1 1;
    overflow: auto;
    height: 100%;
  }

  .sequencesTable {
    flex: 3 3;
  }

  @media screen and (max-width:1070px) {
    flex-direction: column;

    .chaptersList {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width:1071px) {
    flex-direction: row;
    align-items: flex-start;

    .chaptersList {
      margin-right: 10px;
    }
  }
}
