@import "../../../../../variables.scss";

.coverPic {
  float: left;
  margin-right: 8px;
}

.longDescriptionContainer {
  margin-top: 10px;

  @media screen and (max-width: $SCREEN_MAX_WIDTH_SM) {
    flex-direction: column;
  }
}

.publishBtnErrors {
  color: red;
}
