.endingContainer {
  padding: 10px;
}

.optionsContainer {
  width: 100%;

  .option:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.08);
  }
}

.chip {
  margin: 8px;
}

.scenePic {
  max-width: 100%;
  border-radius: 25px;
  padding-right: 10px;
}

div.card {
  overflow: auto;
  scroll-behavior: smooth
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .displayName {
    text-align: center;
  }

  .attributesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.loadingContainer {
  padding: 16px;
}
