.tableContainer {
  width: 100%;
  display: flex;
  overflow: auto;

  @media screen and (max-width:1070px) {
    flex-direction: column;
  }

  @media screen and (min-width:1071px) {
    flex-direction: row;
    flex-wrap: wrap;

    div[class*="Container"]:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.collectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1;
  height: 100%;
  // Needed for the box-shadow of Paper components
  padding: 2px;
}

.storiesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2 2;
  height: 100%;
  // Needed for the box-shadow of Paper components
  padding: 2px;
}
