@import "../../../../variables.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;

  &:hover {
    .uploadInputOverlay {
      opacity: 0.5;
    }
  }

  .uploadLabel {
    @media screen and (max-width: $SCREEN_MAX_WIDTH_SM) {
      pointer-events: none;
    }
  }

  .uploadInputOverlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    background-color: #ccc;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: $SCREEN_MAX_WIDTH_SM) {
      display: none;
    }
  }

  .initialImage {
    max-width: 100%;

    &.clickable:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $SCREEN_MAX_WIDTH_SM) {
      &:hover {
        cursor: default;
      }
      pointer-events: none;
    }
  }
}

.uploadInput {
  display: none;
}
