@import "../../../../../../variables.scss";

.writeStoryContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  .writeStoryCard {
    flex: 1;

    & > div {
      height: 100%;

      & div[id^="write-story-graph"] {
        height: 100%;

        & > svg {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}
