.container {
  flex: 1;

  .header {
    margin-bottom: 8px;
  }
}

.fieldsContainer {
  margin-bottom: 8px;
  display: flex;

  & > div {
    flex: 1;
  }

  & > div:not(:last-of-type) {
    margin-right: 8px;
  }
}

.descriptionField {
  margin-bottom: 8px;
}

.buttonsContainer {
  & > div:not(:last-of-type) {
    margin-right: 8px;
  }
}
