// The axios-progress-bar CSS override
@import '~axios-progress-bar/dist/nprogress.css';

$color: #d87000;

#nprogress .bar {
  z-index: 999999 !important;
  background: $color !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color, 0 0 5px $color !important;
}

#nprogress .spinner-icon {
  border-top-color: $color !important;
  border-left-color: $color !important;
}

a {
  color: inherit;
  text-decoration: none;

  &[disabled] {
    pointer-events: none;
  }
}
