.tableContainer {
  width: 100%;
  display: flex;

  @media screen and (max-width:1070px) {
    flex-direction: column;
  }

  @media screen and (min-width:1071px) {
    flex-direction: row;
    flex-wrap: wrap;

    div[class*="Container"]:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.collectionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1;
}

.storiesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2 2;
}

.row {
  .actionsContainer {
    display: none;
  }
}

.row:hover {
  .actionsContainer {
    display: flex;
  }
}

.actionsContainer {
  align-items: center;
  flex: 0.1 10;
}
