@import "../../../variables.scss";

.container {
  margin-bottom: 10px;
}

.breadcrumb {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: $SCREEN_MAX_WIDTH_SM) {
  .breadcrumb:not(:nth-last-child(-n + 2)) {
    display: none;
  }
}
